* {
    text-align: center;
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    color: #43454a;
    border-radius: 10px;
    overflow: hidden;
}

td, th {
    padding: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 100px;
}

thead {
    color: white;
    font-size: 1.2em;
    background-color: #061539;
}

tbody, tfoot {
    background-color: #dbdbdb;
}

tbody tr:nth-child(even), td:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.45);
}

th:nth-child(4n+3) {
    background-color: rgba(170, 200, 220, 0.15);
}

th:nth-child(4n+2) {
    background-color: rgba(170, 200, 220, 0.30);
}

th:nth-child(4n+1) {
    background-color: rgba(170, 200, 220, 0.45);
}

tr:first-child > th:first-child {
    background-color: rgba(170, 200, 220, 0.60);
}

thead tr:nth-child(3) > th {
    font-size: 2em;
    padding: 20px 10px 0 10px;
}

tr > td:first-child {
    text-align: left;
    text-indent: 10px;
}

a {
    display: inline-block;
    box-sizing: border-box;
    width: 6em;
    border: 1px solid #6e6d6c;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
    color: #6e6d6c;
    background-color: #d3d3d3;
}